webapp/wsdl/EmpWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.test.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.test.com" xmlns:intf="http://webservice.test.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.test.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="testAdd">
    <complexType>
     <sequence>
      <element name="num1" type="xsd:int"/>
      <element name="num2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="testAddResponse">
    <complexType>
     <sequence>
      <element name="testAddReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="testAddRequest">

      <wsdl:part element="impl:testAdd" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="testAddResponse">

      <wsdl:part element="impl:testAddResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EmpWebService">

      <wsdl:operation name="testAdd">

         <wsdl:input message="impl:testAddRequest" name="testAddRequest">

       </wsdl:input>

         <wsdl:output message="impl:testAddResponse" name="testAddResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EmpWebServiceSoapBinding" type="impl:EmpWebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="testAdd">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="testAddRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="testAddResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EmpWebServiceService">

      <wsdl:port binding="impl:EmpWebServiceSoapBinding" name="EmpWebService">

         <wsdlsoap:address location="http://localhost:8080/TestWebProj_22/services/EmpWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
